<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to rornetwork.com, <%= @post.title %></h1>
    <p>
      A new post has been posted in rornetwork.com,
    
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>